/*
=================================
RESET and GENERAL
=================================
*/

*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

picture,
video,
canvas {
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/SourceSansPro-Regular.otf") format("otf");
}
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro";
  font-size: 1.3rem;
}

.container {
  width: min(90%, 1300px);
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
}
h1,
h2,
h3,
h4 {
  font-family: "Oswald";
}

button {
  background-color: #c271ff;
  border-radius: 25px;
  padding: 0.62em 0.8em;
  border: none;
  color: white;
}

.header-emphasis {
  color: #c271ff;
}

/*
=================================
Header
=================================
*/

header {
  padding: 1em 0;
}
.hero {
  background-image: url("./images/Object.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1100px;
}
nav {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.nav__list {
  padding: 0;
  margin: 0;
}
.logo-header {
  margin-left: 1em;
  font-size: 1.2em;
}
.nav__item {
  list-style: none;
  font-size: 0.72em;
  font-family: "Oswald";
  margin-left: 4em;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

/*
=================================
Hero__section
=================================
*/
main {
  color: white;
}

.hero__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__header {
  font-size: 6em;
}
.main__spans > span {
  margin-left: 3em;
}
.main__spans ~ button {
  margin-top: 1.2em;
}
.hero__top {
  padding: 5em 0 10em 0;
}

.main__second-images {
  display: flex;
  justify-content: space-between;
}
.main__second-header {
  text-align: center;
  margin-bottom: 2em;
  font-size: 1.4em;
}

.person:nth-child(3) > img {
  border-radius: 50%;
}

/*
=================================
Testimonial 
=================================
*/

.testimonial {
  background-color: #c271ff;
  padding: 4.2em 0;
  margin-bottom: 3em;
}

.testimonial__image {
  margin-left: 30px;
}

.testimonial__text {
  width: 80%;
  color: white;
  margin-right: 30px;
}

.testimonial__container {
  gap: 30px;
}

.testimonial__description {
  font-weight: 200;
}

/*
=================================
Video 
=================================
*/

.video-container {
  position: relative;
}

.posterbutton {
  position: absolute;
  top: 40px;
  left: 88px;
  background: white;
  padding: 0.035em 0.035em;
  border-radius: 50%;
}

.gallery__header {
  text-align: center;
  margin-bottom: 2em;
}

.rating_img {
  width: 40px;
}

.rating__name {
  margin-left: 0.45em;
}

/*

=================================
Free Membership 
=================================
*/
.membership {
  background: #071629;
  margin-top: 2em;
  padding: 5.2em 0;
}

.membership__title {
  text-align: center;
  margin-bottom: 1.2em;
  color: white;
  font-weight: 400;
}

.membership > .container > .row > div {
  text-align: center;
  color: white;
}
.membership > .container > .row > div > p {
  color: hsl(0, 0%, 80%);
}

.membership__button {
  position: relative;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
=================================
F.A.Q.
=================================
*/

.faq {
  gap: 20px;
  color: hsla(0, 0%, 0%, 0.8);
}

.faq__section1 {
  margin: 1em;
}

.header__dark {
  margin: 2em 0 1em;
}

.faq__container {
  width: 90%;
}

.faq__title {
  margin-top: 1em;
  text-align: center;
  font-size: 3.75rem;
}

/*
=================================
FOOTER
=================================
*/

footer {
  padding: 2.3em 0;
  background-color: #071629;
}

footer > section > .container > .row {
  justify-content: space-around;
}

.social {
  gap: 1em;
  display: flex;
}
.fa-brands {
  border-radius: 50%;
  color: #071629;
  background-color: white;
  padding: 0.43em;
  font-size: 0.8em;
}
footer > section > p {
  text-align: center;
  margin-top: 1em;
  color: white;
}
